/* mobile view < 600px */
body {
  background-color: #EAF1F5;
  font-family: 'Open Sans', sans-serif;
}

/* header and footer  */
header, footer {
  background-color: #3E517A;
  color: #A0C1D1;
  padding: 15px;
}

header p, footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
}

footer nav {
  display: flex;
  justify-content: center;
}

footer nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

footer nav ul li a {
  color: #A0C1D1;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin: 0 20px 0 0;
}

/* main content  */
main {
  margin-top: 35px;
}

img {
  width: 100%;
  border-radius: 10px;
}

.wrapper {
  margin: auto;
  width: 75%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 25px;
}

.repo-link {
  text-decoration: none;
  font-size: 20px;
}

/* text  */
.text-title {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

.project-title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.text-details {
  font-size: 20px;
  text-align: justify;
}

/* background callout */
.bg-callout {
  background-color: #647CB1;
  margin: 35px 0;
}

/* deskstop view > 600px */
@media all and (min-width: 600px) {

  /* header  */
  header {
    display: flex;
    justify-content: center;
  }

  header p, footer p {
    font-size: 40px;
    margin: 14px 0;
    padding-top: 0;
  }

  /* main content  */
  .group {
    flex-direction: row;
    margin-bottom: 25px;
    padding-top: 25px;
  }

  .item {
    margin: 15px;
    flex: 1;
  }

  .item-double {
    flex: 2 ;
  }

  .home-photo {
    margin-bottom: 15px;
  }

  .picture {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .text-title {
    margin-top: 0;
  }

  .portfolio {
    margin-left: 16px;
    margin-bottom: 0;
  }

  /* footer  */
  footer nav {
    margin-top: 8px;
  }

  footer nav ul li a {
    font-size: 30px;
  }

  footer nav ul li a:hover {
    color: #AF125A; 
  }
}